<!doctype html>
<html lang="en">
  <head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    <title>GameNest - Login</title>
  </head>
  <body>
    <div class="container">
        <h1>LOGIN</h1>
        
        <?php if(isset($messages)): ?>
            <?php foreach($messages as $message): ?>
                <div style="color: red;"><?= $message ?></div>
            <?php endforeach; ?>
        <?php endif; ?>

        <form action="/login" method="POST">
            <input type="email" name="email" placeholder="example@gmail.com" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
  </body>
</html>