/* Responsiveness (Mobile) */
.display-mobile {
    display: none !important;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .display-mobile {
        display: block !important;
    }

    nav > div.container > ul {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        flex-direction: column;
        padding: 20px 0;
        border-bottom: 2px solid #00fc69;
        z-index: 100;
    }
}