<div class="flash-messages-container">
    <?php if(isset($_SESSION['success_message'])): ?>
        <div class="alert alert-success">
            <i class="fa-solid fa-circle-check"></i> <?= $_SESSION['success_message']; unset($_SESSION['success_message']); ?>
        </div>
    <?php endif; ?>

    <?php if(isset($_SESSION['error_message'])): ?>
        <div class="alert alert-error">
            <i class="fa-solid fa-circle-exclamation"></i> <?= $_SESSION['error_message']; unset($_SESSION['error_message']); ?>
        </div>
    <?php endif; ?>
</div>